  <section id="banner-carousel" class="slide">
      <!-- Wrapper for slides -->
	    <carousel interval="myInterval" no-wrap="noWrapSlides">
			<slide active="active" >
				<img src="assets/img/slide1.png" alt="[Image: {{'Image1'|translate}}]" title="" class="img-responsive center-block"> </div>
			</slide>
			<slide>
				<img src="assets/img/slide2.png" alt="[Image: {{'Image1'|translate}}]" title="" class="img-responsive center-block"> </div>
			</slide>
			<div class="carousel-caption well-lg">
				<div class="well-sm clearfix"></div>
				<div class="well-lg clearfix">
				  <h2>{{'Become a'|translate}}</h2>
				  <span class="h1">{{'Web Developer'|translate}}</span>
				  <div class="clearfix">
					<div class="well-sm hidden-xs hidden-sm hidden-md"></div>
					<div class="well-lg hidden-xs hidden-sm hidden-md"></div>
					<a class="btn btn-warning btn-lg" href="#!/courses/search">{{'Learn more'|translate}}</a>
				  </div>
				</div>
				<div class="well-sm hidden-xs hidden-sm clearfix"></div>
			  </div>
		</carousel>
    </section>
    <div class="well-lg"></div>
    <!--Banner section End-->
    <!--home-main section Start-->
    <!-- End of Course by build section starts -->
    <section>
      <!-- Career advisor section  starts -->
      <div class="container">
        <div class="col-xs-11 col-xs-offset-1">
          <div class="col-sm-6">
            <div class="row">
              <h3 class="lead text-primary"><strong>{{'Learnr Career Advisor'|translate}}</strong></h3>
              <p>{{'Learnr is pleased to announce Career Advisor, a feedback-based support program built to ensure the strength of your employment candidacy. Our commitment to your future doesn\'t end with your degree, so we also help optimize your resume, audit your online presence, and provide interview training.'|translate}} </p>
			  <a class="btn btn-warning navbar-btn"  href="#!/courses/search">{{'Learn more'|translate}}</a>
            </div>
          </div>
          <div class="col-sm-6"> <a href="javascript:void(0);" title="{{'Career'|translate}}"><img class="img-responsive center-block" src="assets/img/career.png" 
		  alt="[Image: {{'Career Advisor'|translate}}]" title="{{'Career Advisor'|translate}}"></a> </div>
          <div class="well-lg"></div>
        </div>
      </div>
      <div class="well-sm"></div>
    </section>
    <!-- Career advisor section  ends -->
    <section>
      <div class="jumbotron clearfix">
        <!-- Developer section -->
        <div class="container">
          <div class="col-md-3 col-sm-6 col-xs-12 bg-primary">
            <div class="well-sm"></div>
            <h3 class="text-center h4"><strong>{{'Front-End Developer'|translate}}</strong></h3>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
            <span class="text-center col-xs-12"><i class="fa fa-html5 fa-5x"></i></span>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
			<div class="well-lg visible-sm"></div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 bg-success bg-primary">
            <div class="well-sm"></div>
            <h3 class="text-center h4"><strong>{{'Android Developer'|translate}}</strong></h3>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
            <span class="text-center col-xs-12"><i class="fa fa-android fa-5x"></i></span>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
			<div class="well-lg visible-sm"></div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 bg-danger bg-primary">
            <div class="well-sm"></div>
            <h3 class="text-center h4"><strong>{{'Data Analyst'|translate}}</strong></h3>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
            <span class="text-center col-xs-12"><i class="fa fa-building fa-5x"></i></span>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
			<div class="well-lg"></div>
			<div class="well-lg visible-sm"></div>
			<div class="well-lg visible-sm"></div>
		  </div>
          <div class="col-md-3 col-sm-6 col-xs-12 bg-warning bg-primary">
            <div class="well-sm"></div>
            <h3 class="text-center h4"><strong>{{'iOS Developer'|translate}}</strong></h3>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
			<div class="well-lg visible-sm"></div>
            <span class="text-center col-xs-12"><i class="fa fa-apple fa-5x"></i></span>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
			<div class="well-lg visible-sm"></div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 bg-primary">
            <div class="row"><img src="assets/img/devloper1.png" alt="[Image: {{'Devloper'|translate}}]" 
				   title="{{'Devloper'|translate}}" class="col-xs-12 btn-block"></div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 bg-info bg-primary">
            <div class="well-sm"></div>
            <h3 class="text-center h4"><strong>{{'Full Stack Developer'|translate}}</strong></h3>
            <div class="well-lg"></div>
            <div class="well-lg hidden-md"></div>
			<div class="well-lg visible-sm"></div>
			<span class="text-center col-xs-12"><i class="fa fa-desktop fa-5x"></i></span>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
			<div class="well-lg visible-sm"></div>
            <div class="well-lg hidden-md hidden-sm"></div>
			<div class="well-sm navbar-btn visible-md hidden-sm"></div>
			<div class="navbar-btn clearfix visible-md hidden-sm"></div>
			<div class="navbar-btn visible-sm"></div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 bg-success bg-primary">
            <div class="well-sm"></div>
            <h3 class="text-center h4"><strong>{{'Intro to Programming'|translate}}</strong></h3>
            <div class="well-lg"></div>
            <div class="well-lg hidden-md"></div>
			<div class="well-lg visible-sm"></div>
            <span class="text-center col-xs-12"><i class="fa fa-code fa-5x"></i></span>
            <div class="well-lg"></div>
            <div class="well-lg"></div>
			<div class="well-lg visible-sm"></div>
            <div class="well-lg hidden-md hidden-sm"></div>
			<div class="well-sm navbar-btn visible-md hidden-sm"></div>
			<div class="navbar-btn clearfix visible-md hidden-sm"></div>
			<div class="navbar-btn visible-sm"></div>
          </div>
          <div class="col-md-3 col-sm-6 col-xs-12 bg-primary bg-primary">
            <div class="row"><img src="assets/img/devloper2.png" alt="[Image: {{'Devloper2'|translate}}]" title="{{'Devloper2'|translate}}" class="col-xs-12 btn-block"></div>
          </div>
        </div>
      </div>
      <!-- End of Developer section -->
    </section>
    <section class="well">
      <!-- Tuition back graduate section  -->
      <div class="well-sm"></div>
        <div class="row">
          <div class="col-xs-12 col-md-6 col-md-offset-3 text-center"> <span class="fa-stack fa-lg fa-3x"><i class="fa fa-circle fa-stack-2x"></i> <i class="fa fa-usd fa-stack-1x fa-inverse"></i></span>
            <h4><strong>{{'Free Courses'|translate}}</strong></h4>
            <p>{{'Enhance your skillset and boost your hireability through innovative, independent learning.'|translate}}</p>
			<a target="_blank" href="#!/courses/search" title="{{'View our courses'|translate}}"><strong>{{'VIEW OUR COURSES'|translate}}</strong></a></div>	
        </div>
      <div class="well-sm"></div>
    </section>
	<!-- End of tuition back graduate section  -->
    <div class="well-sm"></div>
    <div class="section">
      <!-- learnr employers section -->
      <div class="container">
        <div class="col-xs-12 text-center">
          <h2 class="text-primary"><strong>{{$root.settings['site.name']}} {{'for Employers'|translate}}</strong></h2>
          <span class="h4">{{'Ensure your workforce masters the latest tech skills'|translate}}</span>
          <div class="well-sm"></div>
        </div>
        <div class="row text-center">
          <div class="col-sm-12">
            <h4><strong>{{'Level up your team'|translate}}</strong></h4>
            <div class="well-sm"></div>
            <div class="row">
              <div class="col-xs-12">
                <p class="text-muted"> {{'Employers use'|translate}} {{$root.settings['site.name']}} {{'to train their own employees'|translate}}.</p>
				<div class="clearfix navbar-btn"></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- End of learnr employers section -->
	<div class="well-sm hidden-xs"></div>
    <div class="section">
      <!-- Popular course class section -->
      <div class="container">
        <hr>
        <div class="well-sm hidden-xs"></div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <h2 class="text-primary">{{'Popular Courses'|translate}}</h2>
            <div class="well-sm"></div>
          </div>
        </div>
		<home-course filter="most_popular" limit="4"></home-course>       
      </div>
    </div>
    <!-- End of popular course class section -->
	 <div class="well-lg hidden-xs"></div>
    <div class="section">
      <!-- What`s new section start  -->
      <div class="container">
        <hr>
        <div class="well-sm hidden-xs"></div>
        <div class="row">
          <div class="col-xs-12 text-center">
            <h2 class="text-primary">{{'What\'s New'|translate}}</h2>
            <div class="well-sm"></div>
          </div>
        </div>
        <home-course filter="new" limit="4"></home-course>  
      </div>
    </div>
	<div banner position="bottomBanner" ng-if="$root.settings['site.enabled_plugins'].indexOf('Banner') > -1"></div>
    <!-- End of what`s new section -->
    <div class="well-lg hidden-xs"></div>
  <!--home-main section End-->